$red:           rgba(255, 102, 72, 0.8);
$white:         white;
$black:         black;
$hover_white:   rgba(255, 255, 255, 0.8);
$h1_white:      white;
$h1_bc_black:   rgba(0, 0, 0, 0.8);
$text_col_black:rgba(0, 0, 0, 0.3);